@page
@model Emigrant.App.Frontend.Pages.ListPersonaModel
@{
}

<h1>Listado de Personas</h1>
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Tipo Documento</th>
      <th scope="col">Documento</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">País de origen</th>
      <th scope="col">Fecha de nacimiento</th>
      <th scope="col">Email</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Dirección</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Situación laboral</th>
    </tr>
  </thead>
  @foreach (var persona in Model.Personas)
    {
        <tr>
            <td>@persona.id</td>
            <td>@persona.nombre</td>
            <td>@persona.apellidos</td>
            <td>@persona.tipo_documento</td>
            <td>@persona.documento</td>
            <td>@persona.pais_origen</td>
            <td>@persona.fecha_nacimiento</td>
            <td>@persona.correo</td>
            <td>@persona.telefono</td>
            <td>@persona.direccion</td>
            <td>@persona.ciudad</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-personaId="@persona.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-personaId="@persona.id">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>


